.status-on {
  color: green;
}

.status-off {
  color: red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 24px;
  padding: 0;
}

button {
  background-color: #0d71bb;
  color: #fff;
  cursor: pointer;
  outline: 0;
  border: none;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 14px;

  &.success {
    background-color: #43a047;
    &:hover {
      background-color: #2c6d2f;
    }
  }

  &.danger {
    background-color: transparent;
    border: 2px solid #b71c1c;
    color: #b71c1c;
    &:hover {
      color: #861616;
      border: 2px solid #861616;
    }
  }
}

.stack-xs {
  margin-right: 8px;
}

.stack-s {
  margin-right: 16px;
}

.stack-m {
  margin-right: 24px;
}

.stack-l {
  margin-right: 32px;
}

.stack-xl {
  margin-right: 40px;
}

.stack-xxl {
  margin-right: 64px;
}
